.descr {
    padding-top: 140px;

    &-wrapper {
        margin-top: 80px;
    }

    &-block {
        border-radius: 32px;
        padding: 64px 60px 72px 60px;

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 32px;

            img {
                max-width: 100%;
                height: auto;
            }

            &:first-child {
                margin-top: 0;
            }

            .left-block {
                background: rgba(247, 147, 26, 0.05);
                margin-right: 182px;
            }

            .right-block {
                background: rgba(93, 106, 167, 0.05);
                margin-left: 129px;
            }
        }

        .block-title {
            font-family: 'Play';
            font-weight: 700;
            font-size: 24px;
            color: #0A071A;
        }

        .block-descr {
            margin-top: 18px;
            font-family: 'Noto Sans';
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #7E7E7E;
        }

        .block-list {
            margin-top: 30px;

            ul {
                padding-left: 19px;
            }

            &-item {
                position: relative;
                font-family: 'Noto Sans';
                font-weight: 400;
                font-size: 18px;
                color: #0A071A;
                opacity: 0.7;
                margin-top: 20px;
                list-style-type: none;

                &:first-child {
                    margin: 0;
                }
            }

            .left-item {
                &::before {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='21' viewBox='0 0 14 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.5' x='0.148438' y='7.99707' width='9.69231' height='9.69231' transform='rotate(-45 0.148438 7.99707)' fill='%23F7931A'/%3E%3Crect x='0.909937' y='13.2354' width='8.61538' height='8.61538' transform='rotate(-45 0.909937 13.2354)' stroke='%230A071A' stroke-width='1.07692'/%3E%3C/svg%3E%0A");
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .right-item {
                &::before {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='21' viewBox='0 0 14 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.5' x='0.148438' y='7.99707' width='9.69231' height='9.69231' transform='rotate(-45 0.148438 7.99707)' fill='%235D6AA7'/%3E%3Crect x='0.909937' y='13.2354' width='8.61538' height='8.61538' transform='rotate(-45 0.909937 13.2354)' stroke='%230A071A' stroke-width='1.07692'/%3E%3C/svg%3E%0A");
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &-btn {
                button {
                    margin-top: 48px;
                    border-radius: 40px;
                    border: none;
                    padding: 21px 66px;

                    font-family: 'Noto Sans';
                    font-weight: 700;
                    font-size: 18px;
                    text-align: center;
                    color: #FFFFFF;
                }

                .mobile-btn {
                    display: none;
                }
            }

            .left-btn {
                background: #F7931A;
            }

            .right-btn {
                background: #5D6AA7;
            }
        }


    }
}